@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Gowun+Batang:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--laranja: #ff6700ff;
--branco: #ebebebff;
--branco-prata: #c0c0c0ff;
--azul: #3a6ea5ff;
--azul-escuro: #004e98ff;
--fonte-titulo: "Fascinate Inline", system-ui;
--fonte-texto: "Gowun Batang", serif;
}
body {
    background-color: var(--azul);
    font-family: var(--fonte-texto);
    color: var(--branco-prata);
    height: 100vh;
}

header {
    background-color: var(--azul-escuro);
    text-align: center;
}

h1 {
    font-family: var(--fonte-titulo);
    font-size: 3em;
    color: var(--laranja);
    padding: 0.5em 0;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: var(--branco);
    font-size: 2em;
    margin: 0 1em 0.5em 0;
}